[user]
	name = Ben Guillet
	email = benjamin.guillet@gmail.com
	signingkey = 149C194EF1FFFE6C36C32F3918C9EBEB2B8F5E1D
[color]
  ui = true
[format]
	pretty = "Commit:  %C(blue)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%n%n%b"
[alias]
	co = checkout
  g = grep --break --heading --line-number
  cp = cherry-pick
  br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  recent = "!f() { git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head; }; f"
[core]
	editor = vim
	excludesfile = ~/.gitignore
[code]
	editor = vim
[credential]
	helper = osxkeychain
[push]
	default = simple
[merge]
	ff = only
[rebase]
	autosquash = true
[commit]
	gpgsign = true
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
